<ng-container *ngIf="(commentFacade.comments$ | async) as comments;else loading">
    

    <ng-container *ngIf="(commentFacade.didAPIWork$ | async);else apiDidNotWork">
        
      <div class="main">

        <app-custom-input (inputChanged)="filterCommentsBy($event)" label="Filter Comments"></app-custom-input>

        <app-comments [comments]="comments"></app-comments>
 
      </div>
      
    </ng-container>

    <ng-template #apiDidNotWork>
        <h1 class="error">
            Can't load comments right now!
        </h1>
    </ng-template>

</ng-container>

<ng-template #loading>
    <h1 class="loading">
        Loading Comments.....
    </h1>
</ng-template>